@{
    Layout = "~/Views/Shared/_LayoutLoggedInOuder.cshtml";
}


@using (Html.BeginForm("VraagAan", "Ouder", FormMethod.Post))
{


    <h4>Kies de datum</h4>
    <input type="date" name="Date" />

    <h4>Kies de begin tijd</h4>
    <input type="time" name="Begin" />

    <h4>Vul het start adres in</h4>
    <input type="text" name="startAdres"/>

    <h4>Vul het eind adres in</h4>
    <input type="text" name="eindAdres"/>

    <h4>Vul de duratie van de rit in</h4>
    <input type="text" name="duratie"/>

    <button type="submit">Geef aan</button>

}