@{
    Layout = "~/Views/Shared/_LayoutLoggedInOuder.cshtml";
}


@using (Html.BeginForm("VraagAan", "Ouder", FormMethod.Post))
{


    <h4>Kies de datum</h4>
    <input type="date" name="Date" />

    <h4>Kies de begin tijd</h4>
    <input type="time" name="Begin" />

    <h4>Kies de eind tijd</h4>
    <input type="time" name="Eind" />

    <h4>Vul het adres in</h4>
    <input type="text" name="Adres"/>

    <button type="submit">Geef aan</button>

}