@{
    Layout = "~/Views/Shared/_LayoutLoggedInOuder.cshtml";
}

@model KillerAppSE2.ViewModel.RegisterViewModelOuder

<h2>Hallo @Html.ViewData.Model.Ouder.initialen @Html.ViewData.Model.Ouder.achternaam</h2>