@using KillerAppSE2.Models
@{
    Layout = "~/Views/Shared/_LayoutLoggedInOuder.cshtml";
}

@{
    List<Rit> aangevraagdeRitten = (List<Rit>) Model;
}


<h2>Aangevraagde Ritten</h2>
@foreach (Rit rit in aangevraagdeRitten)
{
    <p>@rit.ToString()</p>
}