@using KillerAppSE2.Models
@{
    Layout = "~/Views/Shared/_LayoutLoggedInStudent.cshtml";
}

@{
    List<Beschikbaarheid> beschikbaar = (List<Beschikbaarheid>) Model;
}


<h2>Ingevulde Beschikbaarheid</h2>
<div>
        @foreach (Beschikbaarheid bs in beschikbaar)
        {
            <p>@bs.ToString();</p>
        }
</div>